.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    height: 80vh;
}
.svg {
    width: min(60vw, 30rem);
    aspect-ratio: 16 / 9;
}
.warning {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
}