.changePasswordForm {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.changePasswordForm__input label{
    margin-left: .5rem;
    font-weight: bolder;
    color: hsl(160, 59%, 54%);
}
.changePasswordForm__input input,
.changePasswordForm__input input:where(:hover, :focus, :focus-within, :focus-visible) {
    width: min(60vw, 25rem);
    border: .1rem solid hsl(160, 59%, 54%);
    background-color: hsl(161, 20%, 95%);
    line-height: 2.5;
    padding-inline-start: .5rem;
}
.changePasswordForm__button button {
    border: none;
    outline: none;
    background: hsl(160, 39%, 48%);
    width: min(30vw, 10rem);
    line-height: 3;
    cursor: pointer;
    transition: all 300ms ease;
    box-shadow: 0 .1rem .8rem hsl(160, 4%, 17%);
}
.changePasswordForm__button button:where(:hover, :active) {
    background: hsl(160, 59%, 54%);
}
.changePasswordForm__button button:active {
    scale: .96;
    box-shadow: 0 0rem .15rem hsl(160, 4%, 17%);
}