.redirect {
    width: 100%;
    height: max(50vh, 30rem);
    display: grid;
    place-content: center;
}
.redirect > a {
    padding: 1rem 2rem;
    background-color: transparent;
    border: .1rem solid hsl(201, 41%, 62%);
    transition: all .35s ease;
    border-radius: 2rem;
    color: hsl(281, 50%, 11%);
    outline: none;
}
.redirect > a:where(:hover, :active, :focus-within, :focus-visible) {
    background-color: hsl(201, 41%, 62%);
    color: hsl(5, 5%, 99%);
}
.redirect > a:focus-visible {
    outline: .1rem solid hsl(201, 41%, 62%);
    outline-offset: .5rem;
}