* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit
}
:root {
  --fc-green: #61b4ab;
  --fc-darkBlue: #3f466c;
  --black-mode: hsl(330, 8%, 5%);
}
ul, li {
  list-style: none;
}
a,
a:where(:hover, :active, :target, :focus, :focus-visible, :focus-within, :active, :visited) {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  direction: rtl;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Vazir", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}